//fonts
$primary-font:'Montserrat', sans-seriff;
$secondary-font: 'Lora', serif;
$tertiary-font: 'Playfair Display', serif;
//sizes
$primary-size:12px;
$secondary-size:17px;
$tertiary-size:38px;
//weight
$primary-weight: 400;
$secondary-weight:500;
//colors
$primary-color:rgba(27, 27, 27);
$secondary-color:rgba(115, 115, 115);
$tertiary-color:rgba(255, 0, 0);
$quaternary-color:rgba(109, 106, 106);

